//- Все примеси в этом файле должны начинаться c имени блока (about-us)
//- ВАЖНО! Файл содержит 2 миксина

//- Принимает:
//-   mods  {string} - список модификаторов

//- Вызов:
      +about-us('О нас')
        p Инфо

mixin about-us(title, description, mods)

  //- подключаем файл со структурой данных блока
  include about-us.data.pug

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + 'about-us--' + modsList[i].trim();
      }
    }

  section.about-us(class=allMods)&attributes(attributes)
    .about-us
      h2.about-us__title!= title
      p.about-us__description!= description
      ul.about-us__list
        each aboutUsItem in aboutUsList
          +about-us-item(aboutUsItem)


mixin about-us-item(item)

  li.about-us__item
    strong
      svg(width=item.iconSize.width, height=item.iconSize.height)
        use(xlink:href='images/icons/sprite.svg#icon-' + item.iconId)
      != item.title
    p!= item.text